<span class="
    w-fit h-fit flex rounded-lg text-accent select-none
    hover:text-accent-hover hover:bg-accent-light-hover
">
    <ButtonBase>
        <IconStart>
            @if (!string.IsNullOrWhiteSpace(IconStart))
            {
                <Icon Name="@IconStart" />
            }
        </IconStart>
        <ChildContent>
            @ChildContent
        </ChildContent>
        <IconEnd>
            @if (!string.IsNullOrWhiteSpace(IconEnd))
            {
                <Icon Name="@IconEnd" />
            }
        </IconEnd>
    </ButtonBase>
</span>

@code {
    [Parameter]
    public string? IconStart { get; set; }

    [Parameter]
    public string? IconEnd { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
