<span class="w-fit flex flex-row gap-x-0 p-2 cursor-pointer">
    @IconStart
    <span class="mx-1">
        @ChildContent
    </span>
    @IconEnd
</span>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? IconStart { get; set; }

    [Parameter]
    public RenderFragment? IconEnd { get; set; }
}
