@inject IOptions<AppConfiguration> AppConf

<div class="flex flex-row gap-x-4 w-full h-[3.5rem] items-center px-4 py-2">
    <div class="flex flex-row w-[18.5rem]">
        @if (Room is not null)
        {
            <Hyperlink href="@($"/rooms/{Room.Id}")">
                @Room.Name
            </Hyperlink>
        }
    </div>
    <div class="flex flex-row w-full items-center">
        <div class="flex flex-row grow">
            あいうえお
        </div>
        <div class="flex flex-row gap-x-2 w-fit items-center">
            @if (Room is not null && Room.DataSourceId != 1)
            {
                <ViewInKnoqButton Href="@KnoqPageUri" />
            }
            <Button Variant="Button.ButtonVariants.Secondary" IconStart="login">
                参加
            </Button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Repository.Models.Room? Room { get; set; }

    [Parameter]
    public bool IsJoiningRoom { get; set; }

    string? KnoqPageUri
    {
        get
        {
            if (Room is null || Room.DataSourceId == 1)
            {
                return null;
            }

            UriBuilder ub = new(AppConf.Value.KnoqApiBaseAddress!)
                {
                    Fragment = "",
                    Path = "",
                    Query = ""
                };

            if (Room.DataSourceId == 3)
            {
                ub.Path = $"events/{Room.Id}";
                return ub.ToString();
            }
            return null;
        }
    }
}
