@inject NavigationManager Navigation

<a class="w-fit h-fit flex rounded-lg p-2 gap-x-1 overflow-hidden select-none text-brand-knoq
          hover:bg-brand-knoq-light-hover"
   href="@Href">
    <ButtonConcept>
        <IconStart>
            <svg class="fill-brand-knoq" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.8815 19.597L16.6887 16.9439C16.6877 16.9432 16.6868 16.9423 16.6861 16.9412C16.6855 16.9401 16.6852 16.9389 16.6852 16.9376C16.6852 16.9364 16.6855 16.9351 16.6861 16.934C16.6868 16.9329 16.6877 16.932 16.6887 16.9314C18.1722 15.5059 19.0992 13.5984 19.3033 11.5512C19.8398 6.25531 15.4429 1.68759 10.1366 2.01676C7.88611 2.15644 5.77844 3.16702 4.26035 4.83428C2.74226 6.50154 1.93309 8.69444 2.00434 10.9482C2.07559 13.2019 3.02166 15.3393 4.64203 16.9073C6.2624 18.4754 8.4297 19.3508 10.6846 19.348C10.8812 19.3481 11.0751 19.3948 11.2502 19.4845L11.7231 19.7262L16.0075 21.9137C16.2794 22.0449 16.4023 22.0074 16.7242 21.9272L21.8554 20.0345C21.8989 20.0183 21.9368 19.9898 21.9644 19.9525C21.992 19.9151 22.0082 19.8706 22.0109 19.8242C22.0137 19.7779 22.0029 19.7317 21.9799 19.6914C21.9569 19.6511 21.9227 19.6183 21.8815 19.597ZM7.88871 9.70844L5.42829 10.5855C5.35064 10.6123 5.26557 10.6074 5.19149 10.5719C5.11741 10.5364 5.06028 10.4732 5.03246 10.3959L4.92829 10.1105C4.90148 10.033 4.90622 9.94805 4.94149 9.874C4.97677 9.79994 5.03974 9.74272 5.11683 9.71469L7.57621 8.84282C7.65347 8.81627 7.73805 8.82102 7.81184 8.85607C7.88563 8.89112 7.94276 8.95366 7.971 9.03032L8.07517 9.31677C8.10083 9.3935 8.09574 9.47718 8.06097 9.55023C8.02619 9.62328 7.96445 9.67999 7.88871 9.70844ZM8.17413 7.25635L8.00225 7.51052C7.95532 7.57755 7.88398 7.6235 7.80353 7.6385C7.72309 7.6535 7.63998 7.63635 7.57205 7.59073L5.41892 6.11573C5.35188 6.06879 5.30593 5.99745 5.29093 5.917C5.27594 5.83656 5.29309 5.75345 5.33871 5.68552L5.50954 5.4376C5.55631 5.3704 5.62759 5.32424 5.70804 5.30904C5.78849 5.29385 5.87169 5.31084 5.93975 5.35635L8.09288 6.82927C8.16008 6.87604 8.20624 6.94731 8.22144 7.02777C8.23663 7.10822 8.21964 7.19142 8.17413 7.25948V7.25635ZM9.13976 6.22406L8.26684 3.77093C8.24003 3.69341 8.24477 3.60845 8.28004 3.5344C8.31532 3.46034 8.37829 3.40312 8.45538 3.37509L8.7408 3.27093C8.81819 3.24406 8.90303 3.24866 8.97706 3.28373C9.05109 3.31879 9.1084 3.38153 9.13663 3.45843L10.0085 5.91885C10.0354 5.99624 10.0308 6.08108 9.99571 6.15511C9.96064 6.22914 9.89791 6.28645 9.82101 6.31468L9.53351 6.41885C9.45585 6.44487 9.37108 6.43937 9.29744 6.40352C9.22381 6.36768 9.16718 6.30436 9.13976 6.22718V6.22406ZM15.0773 16.0647L9.49497 18.1324L9.51163 9.52927C9.51163 8.85636 9.65434 8.46365 10.2575 8.17511L13.7325 6.89177C14.4012 6.66364 15.0981 6.87927 15.0981 7.50531L15.0773 16.0647ZM13.7669 11.0647C13.37 11.2126 13.0481 11.747 13.0471 12.2605C13.046 12.7741 13.3669 13.071 13.7637 12.9251C14.1606 12.7793 14.4825 12.2439 14.4835 11.7293C14.4846 11.2147 14.1689 10.9241 13.7721 11.0699L13.7669 11.0647Z" />
            </svg>
        </IconStart>
        <ChildContent>
            <span class="px-1">
                knoQ で確認
            </span>
        </ChildContent>
    </ButtonConcept>
</a>

@code {
    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    public bool OpensInNewTab { get; set; }
}
