<NavLink href="@(Href ?? "./")"
         Match="NavLinkMatch.All"
         class="flex w-full h-fit px-4 py-2 rounded-lg
                hover:bg-bg-primary-hover"
         ActiveClass="bg-bg-secondary"
         @onclick="OnClickEventCallback">
    <ButtonConcept>
        <IconStart>
            @if (IconStart is not null)
            {
                <Icon Name="@IconStart" />
            }
        </IconStart>
        <ChildContent>
            <span class="size-fit flex ml-4">
                @ChildContent
            </span>
        </ChildContent>
    </ButtonConcept>
</NavLink>

@code {
    [Parameter]
    public EventCallback<MouseEventArgs> OnClickEventCallback { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? IconStart { get; set; }

    [Parameter]
    public string? Href { get; set; }
}
