<div class="flex flex-col w-[16rem] gap-y-4">
    <div>
        <MenuNavLink Href="/" IconStart="home">
            ホーム
        </MenuNavLink>
        <!--<MenuNavLink Href="/activity" IconStart="browse_activity">
            記録
        </MenuNavLink>-->
        <MenuNavLink Href="/rooms" IconStart="door_front">
            部屋
        </MenuNavLink>
    </div>
</div>

@code {

}
