@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-primary: #1e1e1e;

    --color-accent: #2b82f4;
    --color-accent-dark: #5ca3ff;
    --color-accent-hover: #3a7cd2;
    --color-accent-light-hover: rgba(43, 130, 244, 0.1);

    --color-brand-primary: #1a1a1a;
    --color-brand-secondary: #4a4a4a;

    --color-brand-knoq: #009688;
    --color-brand-knoq-dark: #19aea0;
    --color-brand-knoq-light-hover: rgba(0, 150, 136, 0.1);

    --color-danger: #900b09;
    --color-danger-dark: #fdd3d0;
    --color-danger-light-hover: rgba(236, 34, 31, 0.1);
}

.text-style-body {
    font-family: "Noto Sans JP", serif;
    font-size: 1rem;
    line-height: 1.375rem;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

.text-style-heading {
    font-family: "Noto Sans JP", serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-optical-sizing: auto;
    font-style: bold;
    font-weight: 600;
}

.text-style-title {
    font-family: "Noto Sans JP", serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-optical-sizing: auto;
    font-style: bold;
    font-weight: 600;
}
